/* Estilos para toda a página */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Adiciona uma direção de coluna para centralizar verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    min-height: 100vh;
    background-image: url('/pf-fortune-tiger.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* Para cobrir toda a página */
}

/* Estilos para o contêiner principal */
.container {
    text-align: center;
    position: relative;
    z-index: 10000;
    background-image: url('/Captura\ de\ tela\ 2023-10-06\ 222513.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 50vw; /* Ajuste para ocupar metade da largura da tela */
    position: relative; /* Adicione position: relative para que os elementos absolutos sejam posicionados em relação a este contêiner */
}

/* Estilos responsivos para dispositivos móveis */
@media (max-width: 768px) {
    .container {
        height: 100vh; /* Tela cheia em dispositivos móveis */
        width: 100vw; /* Ajuste para ocupar a largura total da tela */
        background-size: cover;
        position: relative; /* Adicione position: relative para que os elementos absolutos sejam posicionados em relação a este contêiner */
    }

    .progress-container {
        width: 20%; /* Defina a largura como 20% da largura da tela */
        margin: 0 auto; /* Centralize horizontalmente */
        top: 0; /* Alinhe ao topo */
        bottom: auto; /* Remova o posicionamento no fundo */
        position: absolute; /* Posição absoluta no topo */
    }

    .button-hidden {
        margin-top: -50px; /* Ajuste conforme necessário para posicionar o botão acima da barra de progresso */
        position: absolute; /* Posição absoluta no topo */
        bottom: auto; /* Remova o posicionamento no fundo */
    }

    .progress-text {
        color: aliceblue;
        font-family: sans-serif;
        font-size: large;
        margin-top: 10px;
        margin-bottom: 10px;
        position: absolute; /* Posição absoluta no topo */
        bottom: auto; /* Remova o posicionamento no fundo */
    }

    .progress-bar {
        width: 50%;
        height: 5px;
        background-color: #FF3898; /* Cor de fundo rosa */
        position: absolute; /* Posição absoluta no topo */
        bottom: 0; /* Fica no rodapé da página */
        left: 0;
        bottom: 100px;
    }
    
    button {
        background: transparent; /* Fundo transparente */
        color: #9C225D; /* Cor do texto em rosa escuro */
        border: none; /* Remove a borda */
        padding: 40px 80px;
        cursor: pointer;
        transition: color 0.3s ease-in-out, transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        position: absolute; /* Posição absoluta */
        bottom: -10px; /* Fica no fundo da página */
        left: 50%; /* Centraliza horizontalmente */
        transform: translateX(-50%); /* Centraliza horizontalmente */
        width: 20%; /* Defina a largura como 20% da largura da tela */
    }
    
    button:hover {
        color: #FF3898; /* Cor do texto em rosa quando hover */
    }

    .button-hidden {
        opacity: 0;
    }
}

/* Estilos fora do @media query (para desktop) */
.progress-container {
    width: 100%; /* Defina a largura como 20% da largura da tela */
    margin: 0 auto; /* Centralize horizontalmente */
    position: relative;
    opacity: 0; /* Inicialmente, torna a barra invisível */
    transition: opacity 0.5s ease-in-out;
}


.progress-bar {
    width: 50%;
    height: 5px;
    background-color: #FF3898; /* Cor de fundo rosa */
    position: fixed; /* Posição fixa */
    bottom: 150px; /* Fica no rodapé da página */
    left: 0;
}

.progress-bar::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 10px,
        #9C225D 15px, /* Cor das listras mais escuras */
        #9C225D 25px /* Cor das listras mais escuras */
    );
    animation: progressStripes 2s linear infinite; /* Animação das listras */
    background-size: 400px 400px; /* Tamanho das listras */
    background-position: -40px 0; /* Inicia as listras fora da barra */
}

@keyframes progressStripes {
    0% {
        background-position: -40px 0; /* Inicia as listras fora da barra */
    }
    100% {
        background-position: 40px 0; /* Move as listras para a direita */
    }
}

.progress-text {
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
    font-size: large;
    margin-top: 700px;
    /* margin-bottom: 200px; */
}

button {
    background: transparent; /* Fundo transparente */
    color: #9C225D; /* Cor do texto em rosa escuro */
    border: none; /* Remove a borda */
    padding: 40px 100px;
    cursor: pointer;
    transition: color 0.3s ease-in-out, transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    position: absolute; /* Posição absoluta */
    bottom: 200px; /* Fica no fundo da página */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Centraliza horizontalmente */
    width: 20%; /* Defina a largura como 20% da largura da tela */
}

.button-hidden {
    opacity: 0; /* Torna o botão invisível */
}


button:hover {
    color: #FF3898; /* Cor do texto em rosa quando hover */
}

